
body{
width:100%;
font-family: 'Roboto', sans-serif;
font-size:16px;
}

p{
font-weight: 300;
}

a{
text-decoration:none;
color:#000000;
}




.contact{
float:left;
}

.contact li img{
margin-bottom:20px;
}

.info ul{

font-size: 16px;
}

.info ul li{
margin-top:52px;

}

.thumbnails img
{
margin-bottom:20px;
}



.firstnav li{
font-size:16px;
float:left;

margin-right: 10%;
}



.navbar-header{
margin-top:-20px;
}

.pictures img{
margin-bottom:10px;
}

.navbar-header span{
background-color:black;
}

.footer{
border-top:solid 1px black;
}

.resume h3{
border-top:solid 1px black;
padding-top:10px;
text-align:center;
}


.second button{
float:left;
margin-top:-10px;

}

@media (max-width:767px) {
.firstnav ul{
width: 80%;

}






}



@media (min-width:768px) {



.navbar-toggle {
display:block;
float:right;
left: 58px;
top: 30px;
}


.firstnave ul{
width:100%
margin-left:0px;
float:left;
}

.firstnav li{
font-size:16px;


margin-right: 5%;
}



.second button{
margin-top:2px;
margin-bottom:30px;
}

.navbar-collapse.collapse {
display:none !important;
}

.navbar-collapse.collapse.in{
display:block !important;
}




.navbar-nav li{


float:none;



}

