body{
width:100%;
font-family: 'Roboto', sans-serif;
font-size:16px;
}


.container{
margin-top:20px;
margin-bottom:38px;


}

h4{
padding-top:20px;
}

h5{
padding-top:20px;
padding-bottom:20px;

}

a:hover{
color:#000000;
background-color:transparent !important; 
font-weight:600;
}

p{
font-weight: 300;
}

a{
text-decoration:none;
color:#000000;
}

.active {
text-decoration:underline;
font-weight: 600;

}




.contact li{
float:left;
}

.icons li{
float:left;
margin-top:10px;
}


.touch h4{
margin-top:20px;

}


.info ul{

font-size: 16px;
}

.info ul li{
margin-top:52px;

}

.thumbnails img
{
margin-top:20px;
}

.pictures img{
margin-bottom:10px;
}

.navbar-header span{
background-color:black;
}

.footer h5{
border-top:solid 1px black;
margin-top:50px;
}








.bio p{
margin-top:10px;
}

@media (max-width:767px) {

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse{
margin-left:0px;

}





.icons li{
margin-right:15%;

}






.navbar-nav{
margin-top:-14px;

text-align:right;
}


.bio p{
margin-top:10px;
}


.portrait img{

margin-top:20px;
}



.row li{
padding-bottom:30px;




}

.row li img{
max-width:60%;
}
}









@media (min-width:768px) {

.nav ul{
float:right;
}

.nav ul li{
float:left;
}


.icons li{
margin-right:40px;

}





}


@media (min-width: 992px){




icons li{
margin-right:15%;
}


.navbar-nav li{
padding-bottom:30px;
}

.row ul{
margin-top:-4%;
}

.header img{
max-width:40%;
}
}


@media {max-width:550px){

.row img{
max-width:40%;

}
.row li img{
max-width:60%;
}


}
















